body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0; /* 轻微的背景色 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-slider {
    display: flex;
    animation: slide 25s infinite linear;
    width: 500%;
    max-height: 70%; /* 限制图片的最大高度 */
    overflow: hidden;
}

.image-slider img {
    width: 20%;
    object-fit: cover; /* 确保图片完整覆盖容器 */
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-80%);
    }
}

.happy-birthday-text {
    position: absolute;
    top: 10%; /* 调整文字位置 */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15em; /* 文字大小增加到原来的5倍 */
    text-shadow: 2px 2px 4px #000;
    animation: text-effect 1.5s infinite;
    z-index: 100; /* 确保文字在图片之上 */
}

@keyframes text-effect {
    0%, 100% {
        text-shadow: 2px 2px 4px #000, 0 0 25px #ff0, 0 0 5px #ff0;
    }
    50% {
        text-shadow: 2px 2px 4px #000, 0 0 45px #ff0, 0 0 10px #ff0;
    }
}

button {
    padding: 100px 200px; /* 增加按钮的大小到原来的10倍 */
    font-size: 2em; /* 调整字体大小以适应按钮大小 */
    margin: 20px; /* 增加外边距 */
    cursor: pointer; /* 手指光标 */
    border: none;
    border-radius: 5px; /* 轻微圆角 */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* 轻微阴影 */
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 100; /* 确保按钮在图片之上 */
}

button:hover {
    background-color: #ddd; /* 鼠标悬停效果 */
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#pause, #play {
    position: fixed; /* 固定位置 */
    bottom: 20px; /* 底部间隔 */
}

#pause {
    left: 20px; /* 左侧间隔 */
}

#play {
    right: 20px; /* 右侧间隔 */
}
